
body{
  background-color: #f6f6f6;  
}
  .home {
    .comm-main{
      margin-top: 30px;
      .comm-left{
        background-color:#FFF;
        padding:30px;
        border-radius: 5px;
        border-bottom:1px solid #eee;
        .list-title{
          font-size:30px;
          color: #1e90ff;
          padding: 0 20px;
        }
        .list-context{
          color:#777;
          padding:30px;
        }
        .list-icon{
          padding:20px 0;
          color:#AAA;
        }
        .list-icon span{
          display: inline-block;
          padding: 0 10px;
        }
          
      }
      // .comm-right{
      //   background-color: #FFF;
      //   margin-left: 50px;
      //   padding:30px;
      //   border-radius: 5px;
      //   border-bottom:1px solid #eee;
      
      // }
    }

    .detailed-nav {
      padding: 0 10px;
      ul {
        max-height: 400px;
        overflow-y: auto;
        li {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 150%;
            font-size: 16px;
        }
        li:hover{
          color:rgb(30, 144, 255);
          font-size: 18px;
        }
      }
    }

    // .parent {
    //   width: 400px;
    //   min-height: 600px;
    //   background-color: pink;
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: space-between;
    //   box-sizing: border-box;
    //   padding: 4px 8px;

    //   .child{
    //     background-color: white;
    //     margin: 4px 0;
    //   }
    //   .child:first-of-type ,  .child:last-of-type{
    //     width: 100%;
    //   }
    //   .child:nth-of-type(2),.child:nth-of-type(3) {
    //     width: 49%;
    //   }
    //   .child:nth-of-type(4),.child:nth-of-type(5),.child:nth-of-type(6) {
    //     width: 32%;

    //   }
    
    // }
 

    

  }



 