.detailed{
  .bread-div{
    padding: 20px;
    border-bottom:1px solid #eee;
    background-color: #e1f0ff;
  }
  .detailed-title{
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  .center{
    text-align: center;
  }
  .detailed-content{
    padding: 40px;
    font-size: 24px;
  }
  code {
    display: block ;
     background-color:#f3f3f3;
     padding: 20px !important;
     overflow-y: auto;
     font-weight: 300;
     font-family: Menlo, monospace;
     border-radius: 5px;
  }
  
  .title-anchor{
    color:#888 !important;
    padding:4px !important;
    margin: 0 !important;
    height: auto !important;
    line-height: 30px !important;
    font-size: 20px !important;
    border-bottom: 1px dashed #eee;
  }
  .active{
    color:rgb(30, 144, 255) !important;
  }
  .nav-title{
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgb(30, 144, 255);
  
  }


}

